In [42]:
import numpy as np
import pandas as pd
from nltk.tokenize import TweetTokenizer

# DATA  & Data Reader

In [19]:
df1_Train=pd.read_csv("../input/all-csv/train.csv")
print(df1_Train.shape)
print(len(df1_Train))
df1_Train.info()

(7613, 5)
7613
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [13]:
df2_Test=pd.read_csv("../input/all-csv/test.csv")
df2_Test.info()size

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

## Visualization of Missing Values

In [15]:
df1_Train.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [16]:
df2_Test.isnull().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64

### Performing tokenization

In [41]:
words=[]
count=0
tokenizer = TweetTokenizer()
for i in range(len(df1_Train)):
    words.append(tokenizer.tokenize(df1_Train["text"][i]))
    for j in range(len(words[i])):
        count+=1
print("total count of words in a given training dataset",count)

total count of words in a given training dataset 128532

## Most Frequent Keyword Used

In [31]:
df1_Train..describe()

count           7552
unique           221
top       fatalities
freq              45
Name: keyword, dtype: object

## An  Example of Training Data

In [48]:
df1_Train.iloc[50:55]

,id,keyword,location,text,target
50,73,ablaze,"Sheffield Township, Ohio",Deputies: Man shot before Brighton home set ab...,1
51,74,ablaze,India,Man wife get six years jail for setting ablaze...,1
52,76,ablaze,Barbados,SANTA CRUZ ÛÓ Head of the St Elizabeth Police...,0
53,77,ablaze,Anaheim,Police: Arsonist Deliberately Set Black Church...,1
54,78,ablaze,Abuja,Noches El-Bestia '@Alexis_Sanchez: happy to se...,0